@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: scroll;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 24px;
  color: #faf9f8;
  font-weight: bolder;
  padding-bottom: 50px;
}

.links ul {
  display: flex;
  list-style-type: none;
  gap: 48px;
  padding-right: 0;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.intro {
  display: flex;
  justify-content: space-around;
  margin: 0;
  background-color: rgb(31, 41, 55);
  color: white;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 8px;
  padding-bottom: 150px;
}

.intro .left {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-top: 8px;
  margin: 0;
}

.text {
  font-size: 48px;
  font-weight: bolder;
  padding: 4px;
  padding-left: 0;
}

.subtext {
  padding: 4px;
  padding-left: 0;
  padding-bottom: 32px;
  font-size: 18px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: rgb(59, 130, 246);
  color: white;
  padding: 8px;
  width: 80px;
  font-size: 18px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 32px;
}
/*--------------------------------------------*/
.intro img {
  height: 80px;
  width: 200px;
  background-color: grey;
}

.intro .right {
  display: flex;
  justify-content: space-around;
}

.info {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  padding-left: 150px;
  padding-right: 150px;
}

.types {
  display: flex;
  justify-content: center;
  padding-left: 150px;
  padding-right: 150px;
  gap: 36px;
}

.types img {
  padding: 60px;
  background-color: white;
  border: blue;
}

.testimonial {
  background-color: #e5e7eb;
  padding: 150px;
}

.testimonial .text {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: lighter;
}

.testimonial .name {
  display: flex;
  justify-content: flex-end;
  padding-right: 150px;
  font-size: 20px;
  font-weight: bold;
}

.signup {
  display: flex;
  justify-content: space-between;
  background-color: #3882f6;
  padding: 20px;
  padding-left: 300px;
  padding-right: 300px;
  margin: 100px;
  margin-left: 150px;
  margin-right: 150px;
  border: none;
  border-radius: 10px;
  color: white;
}

.action {
  font-size: large;
  font-weight: bold;
}

.btn2 {
  border: 2px solid white;
}

.copyright {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: white;
  padding: 38px;
}
